nav.top-nav

  .top-nav__toggler(role="button", aria-haspopup="menu")
    +hamburger('Show menu')

  ul.top-nav__list
    li.top-nav__item
      a.top-nav__link.top-nav__link--current(href="#") Home
    li.top-nav__item
      a.top-nav__link(href="#") About
    li.top-nav__item
      a.top-nav__link(href="#") Locations
    li.top-nav__item
      a.top-nav__link(href="#") Reviews
    li.top-nav__item
      a.top-nav__link(href="#") Contact
