section.homepage-searchform
  .searchform.searchform--home
    .searchform__col
      +input-text-sf()(type="text" placeholder="City")
        | Location

    .searchform__col
      +select-dropdown("Interests", "Sport & Entertainment", "Select")
        +input-radio([
          {
            title: 'List item 1',
            mods: '',
            attrs: {
              name: 'radio-searchform1',
              checked: true,
            }
          },
          {
            title: 'List item 2',
            mods: '',
            attrs: {
              name: 'radio-searchform1',
            }
          },
          {
            title: 'List item 3',
            mods: '',
            attrs: {
              name: 'radio-searchform1',
            }
          },
          {
            title: 'List item 4',
            mods: '',
            attrs: {
              name: 'radio-searchform1',
            }
          },
          {
            title: 'List item 5',
            mods: '',
            attrs: {
              name: 'radio-searchform1',
            }
          },
        ], 'Interests')

    .searchform__col
      +select-dropdown("Budget", "$100 - $200", "Select")
        +input-radio([
          {
            title: 'List item 1',
            mods: '',
            attrs: {
              name: 'radio-searchform77',
              checked: true,
            }
          },
          {
            title: 'List item 2',
            mods: '',
            attrs: {
              name: 'radio-searchform77',
            }
          },
        ], 'Budget')
      
    .searchform__col.searchform__col--last
      +btn("Search", "white, color-main")
