include ../../blocks/icon-home/icon-home.pug
include ../../blocks/logo/logo.pug
include ../../blocks/btn/btn.pug
include ../../blocks/icon/icon.pug
include ../../blocks/link/link.pug
include ../../blocks/hamburger/hamburger.pug
include ../../blocks/play-button/play-button.pug
include ../../blocks/select-dropdown/select-dropdown.pug
include ../../blocks/input-text/input-text.pug
include ../../blocks/input-text-sf/input-text-sf.pug
include ../../blocks/input-label/input-label.pug
include ../../blocks/input-radio/input-radio.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/shifted-card/shifted-card.pug
include ../../blocks/card-property/card-property.pug
include ../../blocks/card-people/card-people.pug
include ../../blocks/tabs/tabs.pug
include ../../blocks/labeled-icon/labeled-icon.pug
include ../../blocks/review/review.pug
include ../../blocks/menu-footer/menu-footer.pug
