.vip-rooms
  h4.vip-rooms__title Super VIP
  .vip-rooms__wrap
    .vip-rooms__item.vip-rooms__item--active
      +card-property("106/1 Macquarie Street, Melbourne", "Homestay", "$150", "./img/apartment-room-4.jpg", "lg")
    .vip-rooms__item
      +card-property("106/1 Macquarie Street, Melbourne Macquarie Street, Melbourne", "Homestay", "$150", "./img/apartment-room-3.jpg", "lg")
    .vip-rooms__item
      +card-property("106/1 Macquarie Street, Melbourne", "Homestay", "$150", "./img/apartment-room-2.jpg", "lg")

  .vip-rooms__dots

