extends ../layouts/default

block variables
  - const title = "Single Page";

block content

  section.page-section.page-section--last
    .page-section__wrap
      article.single-page
        h1.page-section__title Single Page
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum laudantium amet illo fuga, dolorem quod ipsam repellat quaerat ex harum nihil, suscipit quam veniam quo itaque explicabo nisi perferendis. Molestias, totam iste libero id nobis a consectetur enim fuga ea delectus illo fugit. Autem a modi corrupti, quasi quo exercitationem.
        h2 Heading 2
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident aperiam ipsum doloribus alias sapiente ipsa possimus assumenda laborum et ea fugiat esse autem nesciunt, quasi corporis, unde cumque expedita eos accusamus quos! Sed harum, quaerat cumque quia unde hic necessitatibus totam, nesciunt magni soluta, aperiam dicta consectetur eos voluptate. Natus!
        h3 Heading 3
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste reiciendis voluptas facilis consequuntur saepe fuga suscipit aperiam ut.
        h3 Heading 3
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt exercitationem in rerum cum, inventore aut nobis nam, eum sint modi veritatis sapiente nihil.
        h2 Heading 2
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut natus laudantium ducimus ea animi! Aspernatur, dolores hic eligendi aperiam incidunt placeat unde cumque vel, fuga atque aliquam sunt facere repellat impedit iusto vitae modi tempora, similique. Repellendus veritatis autem doloremque.
        



block scripts
  script(src="./js/main.js")
  //- script(src="../js/pageB.js")
  script(src="./js/vendor.js")