.row-rooms
  .row-rooms__col
    +card-property("106/1 Macquarie Street, Melbourne", "Homestay", "$150", "./img/apartment-room-1.jpg")
  .row-rooms__col
    +card-property("106/1 Macquarie Street, Melbourne Macquarie Street, Melbourne", "Homestay", "$150", "./img/apartment-room-2.jpg")
  .row-rooms__col
    +card-property("106/1 Macquarie Street, Melbourne", "Homestay", "$150", "./img/apartment-room-3.jpg")
  .row-rooms__col
    +card-property("106/1 Macquarie Street, Melbourne", "Homestay", "$150", "./img/apartment-room-4.jpg")
    