//- 
  +labeled-icon('icon')
  
mixin labeled-icon(icon, mods)
  //- add modificators
  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' labeled-icon--' + modsList[i].trim();
      }
    }

  .labeled-icon(class=allMods)&attributes(attributes)
    +icon(icon)(class="labeled-icon__icon")
    .labeled-icon__label
      block
