section.homepage-hero2
  .homepage-hero2__container
    .homepage-hero2__wrap
      small.homepage-hero2__subtitle Our application
      h2.homepage-hero2__title World biggest share
        br
        | accomodation
        br
        | website
      .homepage-hero2__buttons
        +btn('','white, color-black')(href="#", class="btn-app")
          +labeled-icon('apple')
            .btn-app__small Available on the
            .btn-app__text Appstore

        +btn('','main')(href="#", class="btn-app")
          +labeled-icon('android')
            .btn-app__small Available on the
            .btn-app__text Playmarket

